USE [KhachSan]
GO
/****** Object:  Schema [khachsan]    Script Date: 14/4/2020 10:54:41 AM ******/
CREATE SCHEMA [khachsan]
GO
/****** Object:  Schema [m2ss]    Script Date: 14/4/2020 10:54:41 AM ******/
CREATE SCHEMA [m2ss]
GO
/****** Object:  Table [khachsan].[contents]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[contents](
	[ID] [int] NOT NULL,
	[CONTENT_INDEX] [int] NOT NULL,
	[ITEM_INDEX] [int] NOT NULL,
	[SRC] [nvarchar](100) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[TAG] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[dangnhap]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[dangnhap](
	[maTruyCap] [nchar](20) NOT NULL,
	[maSo_ND] [nchar](20) NOT NULL,
	[thoiGianDangNhap] [datetime2](0) NULL,
 CONSTRAINT [dangnhap$maTruyCap] UNIQUE CLUSTERED 
(
	[maTruyCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[items]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[items](
	[ITEM_INDEX] [int] NOT NULL,
	[TITLE] [nvarchar](1000) NULL,
	[VIEW] [int] NULL,
	[DATE] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[khachdatphong]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[khachdatphong](
	[maTruyCap] [nchar](20) NOT NULL,
	[maPhong] [nchar](20) NOT NULL,
	[ngayDat] [datetime2](0) NULL,
	[thoiGianBatDau] [datetime2](0) NULL,
	[thoiGianKetThuc] [datetime2](0) NULL,
	[tongChiPhi] [int] NULL,
	[hinhThuc] [nvarchar](20) NULL,
	[hoTen_KTC] [nvarchar](50) NULL,
	[email_KTC] [nvarchar](50) NULL,
	[SDT_KTC] [decimal](10, 0) NULL,
	[tinhThanhPho_KTC] [nvarchar](50) NULL,
 CONSTRAINT [PK_khachdatphong_maTruyCap] PRIMARY KEY CLUSTERED 
(
	[maTruyCap] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[khachhang]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[khachhang](
	[maSo_KH] [nchar](20) NOT NULL,
	[hoTen_KH] [nvarchar](50) NULL,
	[email_KH] [nvarchar](50) NOT NULL,
	[SDT_KH] [decimal](10, 0) NULL,
	[tinhThanhPho_KH] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[khachsan]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[khachsan](
	[maKhachSan] [nchar](20) NOT NULL,
	[maKhuVuc] [nchar](20) NOT NULL,
	[tenKhachSan] [nvarchar](100) NOT NULL,
	[diaChi_KS] [nvarchar](100) NOT NULL,
	[Review] [nvarchar](1000) NOT NULL,
	[diemDen] [nvarchar](max) NOT NULL,
	[tienNghi] [nvarchar](max) NOT NULL,
	[anhReview] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_khachsan_maKhachSan] PRIMARY KEY CLUSTERED 
(
	[maKhachSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[khachtruycap]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[khachtruycap](
	[diaChi_IP] [nvarchar](15) NOT NULL,
	[maTruyCap] [nchar](20) NOT NULL,
	[STT] [int] NOT NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_khachtruycap_maTruyCap] PRIMARY KEY CLUSTERED 
(
	[maTruyCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[khuvuc]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[khuvuc](
	[maKhuVuc] [nchar](20) NOT NULL,
	[tenKhuVuc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_khuvuc_maKhuVuc] PRIMARY KEY CLUSTERED 
(
	[maKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[loaiphong]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[loaiphong](
	[maLoaiPhong] [nchar](20) NOT NULL,
	[moTa] [nvarchar](max) NULL,
	[dienTich] [int] NULL,
	[phongConLai] [int] NULL,
 CONSTRAINT [PK_loaiphong_maLoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[nddatphong]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[nddatphong](
	[maSo_ND] [nchar](20) NOT NULL,
	[maPhong] [nchar](20) NOT NULL,
	[ngayDat] [datetime2](0) NOT NULL,
	[thoiGianBatDau] [datetime2](0) NULL,
	[thoiGianKetThuc] [datetime2](0) NULL,
	[tongChiPhi] [int] NULL,
	[hinhThuc] [nvarchar](20) NULL,
 CONSTRAINT [PK_nddatphong_maSo_ND] PRIMARY KEY CLUSTERED 
(
	[maSo_ND] ASC,
	[maPhong] ASC,
	[ngayDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[nguoidung]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[nguoidung](
	[maSo_ND] [nchar](20) NOT NULL,
	[hoTen_ND] [nvarchar](50) NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau_ND] [nvarchar](50) NOT NULL,
	[email_ND] [nvarchar](50) NOT NULL,
	[SDT_ND] [decimal](10, 0) NULL,
	[quyenQuanTri] [binary](1) NULL,
	[diaChi_ND] [nvarchar](100) NULL,
	[tinhThanhPho_ND] [nvarchar](50) NULL,
	[ssma$rowid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_nguoidung_maSo_ND] PRIMARY KEY CLUSTERED 
(
	[maSo_ND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [khachsan].[phong]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [khachsan].[phong](
	[maPhong] [nchar](20) NOT NULL,
	[maLoaiPhong] [nchar](20) NOT NULL,
	[maKhachSan] [nchar](20) NOT NULL,
	[conTrong] [binary](1) NOT NULL,
 CONSTRAINT [PK_phong_maPhong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [khachsan].[contents] ([ID], [CONTENT_INDEX], [ITEM_INDEX], [SRC], [CONTENT], [TAG]) VALUES (1, 1, 1, N'', N'Bạn đ&atilde; từng "đổ li&ecirc;u xi&ecirc;u" trước rất nhiều c&aacute;nh đồng n&ocirc;ng sản nổi tiếng? Từ đồi ch&egrave; Th&aacute;i Nguy&ecirc;n, vườn d&acirc;u Mộc Ch&acirc;u đến những thửa ruộng bậc thang tr&ecirc;n đất M&ugrave; Cang Chải? Nếu vậy th&igrave; điểm đến tiếp theo đ&acirc;y chắc chắn sẽ khiến bạn kh&ocirc;ng thể đợi chờ. Đ&oacute; l&agrave; một n&ocirc;ng trại dứa đẹp ng&acirc;y ngất, nằm gọn tr&ecirc;n ngọn đồi Tam Điệp của tỉnh Ninh B&igrave;nh.&nbsp;', N'p')
INSERT [khachsan].[contents] ([ID], [CONTENT_INDEX], [ITEM_INDEX], [SRC], [CONTENT], [TAG]) VALUES (2, 2, 1, N'', N'Định vị c&aacute;nh đồng dứa &ldquo;trong truyền thuyết&rdquo;', N'h4')
INSERT [khachsan].[contents] ([ID], [CONTENT_INDEX], [ITEM_INDEX], [SRC], [CONTENT], [TAG]) VALUES (3, 3, 1, N'', N'Nh&acirc;n tố &ldquo;g&acirc;y sốt x&igrave;nh xịch&rdquo; trong l&agrave;ng sống ảo Ninh B&igrave;nh hiện nay kh&ocirc;ng g&igrave; kh&aacute;c ch&iacute;nh l&agrave; c&aacute;nh đồng dứa Tam Điệp thuộc n&ocirc;ng trường Đồng Giao. Với khoảng c&aacute;ch chỉ chừng 100km, từ H&agrave; Nội, bạn c&oacute; thể dễ d&agrave;ng di chuyển đến địa điểm n&agrave;y bằng xe m&aacute;y trong khoảng hơn 2 tiếng.', N'p')
GO
INSERT [khachsan].[dangnhap] ([maTruyCap], [maSo_ND], [thoiGianDangNhap]) VALUES (N'MTC0012             ', N'ND0002              ', CAST(N'2020-04-13T10:12:16.0000000' AS DateTime2))
INSERT [khachsan].[dangnhap] ([maTruyCap], [maSo_ND], [thoiGianDangNhap]) VALUES (N'MTC0134             ', N'ND0002              ', CAST(N'2020-04-13T18:43:20.0000000' AS DateTime2))
INSERT [khachsan].[items] ([ITEM_INDEX], [TITLE], [VIEW], [DATE]) VALUES (1, N'M&ecirc; Ninh B&igrave;nh m&agrave; chưa đến đồi dứa Tam Điệp th&igrave; bạn đ&atilde; thiếu s&oacute;t rồi', 323, CAST(N'2020-03-26' AS Date))
INSERT [khachsan].[items] ([ITEM_INDEX], [TITLE], [VIEW], [DATE]) VALUES (2, N'"Bỏ t&uacute;i" b&iacute; k&iacute;p phượt Đăk Lăk chi tiết nhất', 429, CAST(N'2020-03-26' AS Date))
INSERT [khachsan].[items] ([ITEM_INDEX], [TITLE], [VIEW], [DATE]) VALUES (3, N'3 Điều tuyệt vời khiến bạn muốn du lịch Đ&agrave; Lạt ngay th&aacute;ng 3 n&agrave;y', 338, CAST(N'2020-03-25' AS Date))
INSERT [khachsan].[khachdatphong] ([maTruyCap], [maPhong], [ngayDat], [thoiGianBatDau], [thoiGianKetThuc], [tongChiPhi], [hinhThuc], [hoTen_KTC], [email_KTC], [SDT_KTC], [tinhThanhPho_KTC]) VALUES (N'MTC0131             ', N'MAPHONG10_1_2_3     ', CAST(N'2020-04-13T18:39:09.0000000' AS DateTime2), CAST(N'2020-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-06-01T00:00:00.0000000' AS DateTime2), 1600000, N'thanh toan online', N'ngo minh toan', N'mtoan', CAST(60344479 AS Decimal(10, 0)), N'tphcm')
INSERT [khachsan].[khachtruycap] ([diaChi_IP], [maTruyCap], [STT], [ssma$rowid]) VALUES (N'192.168.1.54', N'MTC0001             ', 1, N'70a5669a-1731-4e60-8e09-cb282037672a')
INSERT [khachsan].[khachtruycap] ([diaChi_IP], [maTruyCap], [STT], [ssma$rowid]) VALUES (N'192.168.1.54', N'MTC0002             ', 2, N'1b98d75a-f291-4e4d-a780-5b930d911fca')
INSERT [khachsan].[khachtruycap] ([diaChi_IP], [maTruyCap], [STT], [ssma$rowid]) VALUES (N'192.168.1.54', N'MTC0003             ', 3, N'04e1d5bf-9d36-4d57-bf1a-8a2c544b4ae2')
GO
INSERT [khachsan].[khuvuc] ([maKhuVuc], [tenKhuVuc]) VALUES (N'KHUVUC1             ', N'Bà Rịa - Vũng Tàu')
INSERT [khachsan].[khuvuc] ([maKhuVuc], [tenKhuVuc]) VALUES (N'KHUVUC10            ', N'Hạ Long')
INSERT [khachsan].[khuvuc] ([maKhuVuc], [tenKhuVuc]) VALUES (N'KHUVUC11            ', N'Huế')
INSERT [khachsan].[loaiphong] ([maLoaiPhong], [moTa], [dienTich], [phongConLai]) VALUES (N'LOAIPHONG1_1_1      ', N'["Superior King",".\/image\/reviewP\/1-1-1.png",["Kh\u00f4ng c\u1eeda s\u1ed5","1 Gi\u01b0\u1eddng \u0111\u00f4i"],"x 2 ng\u01b0\u1eddi",["Bao g\u1ed3m B\u1eefa s\u00e1ng","Kh\u00f4ng ho\u00e0n h\u1ee7y"],"56","1515000",22]', 26, 22)
INSERT [khachsan].[loaiphong] ([maLoaiPhong], [moTa], [dienTich], [phongConLai]) VALUES (N'LOAIPHONG1_1_2      ', N'["Superior  Twin",".\/image\/reviewP\/1-1-2.png",["H\u01b0\u1edbng 1 ph\u1ea7n","2 Gi\u01b0\u1eddng \u0111\u01a1n"],"x 2 ng\u01b0\u1eddi",["Bao g\u1ed3m B\u1eefa s\u00e1ng","Kh\u00f4ng ho\u00e0n h\u1ee7y"],"56","1515000",11]', 26, 11)
INSERT [khachsan].[loaiphong] ([maLoaiPhong], [moTa], [dienTich], [phongConLai]) VALUES (N'LOAIPHONG1_1_3      ', N'["Deluxe King",".\/image\/reviewP\/1-1-3.png",["H\u01b0\u1edbng ph\u1ed1","1 Gi\u01b0\u1eddng \u0111\u00f4i r\u1ea5t l\u1edbn"],"x 2 ng\u01b0\u1eddi",["Bao g\u1ed3m B\u1eefa s\u00e1ng","Kh\u00f4ng ho\u00e0n h\u1ee7y"],"57","1934000",12]', 32, 12)
INSERT [khachsan].[nddatphong] ([maSo_ND], [maPhong], [ngayDat], [thoiGianBatDau], [thoiGianKetThuc], [tongChiPhi], [hinhThuc]) VALUES (N'ND0002              ', N'MAPHONG10_1_2_1     ', CAST(N'2020-04-13T18:38:06.0000000' AS DateTime2), CAST(N'2020-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-06-01T00:00:00.0000000' AS DateTime2), 1600000, N'thanh toan online')
INSERT [khachsan].[nddatphong] ([maSo_ND], [maPhong], [ngayDat], [thoiGianBatDau], [thoiGianKetThuc], [tongChiPhi], [hinhThuc]) VALUES (N'ND0002              ', N'MAPHONG10_1_2_2     ', CAST(N'2020-04-13T18:38:07.0000000' AS DateTime2), CAST(N'2020-05-01T00:00:00.0000000' AS DateTime2), CAST(N'2020-06-01T00:00:00.0000000' AS DateTime2), 1600000, N'thanh toan online')
INSERT [khachsan].[nguoidung] ([maSo_ND], [hoTen_ND], [tenDangNhap], [matKhau_ND], [email_ND], [SDT_ND], [quyenQuanTri], [diaChi_ND], [tinhThanhPho_ND], [ssma$rowid]) VALUES (N'ND0001              ', N'ngo toan', N'mtoan453', N'mtoan453', N'mtoan@@gm332ail', CAST(12345699 AS Decimal(10, 0)), 0x00, N'sdd3233scdcsdc', N't33hcmd', N'c2bc2ac1-e2c3-46af-846f-9c449ef13c54')
INSERT [khachsan].[nguoidung] ([maSo_ND], [hoTen_ND], [tenDangNhap], [matKhau_ND], [email_ND], [SDT_ND], [quyenQuanTri], [diaChi_ND], [tinhThanhPho_ND], [ssma$rowid]) VALUES (N'ND0002              ', N'ngo toan', N'mtoan4', N'mtoan4', N'mtoan@@gm332ail', CAST(12345699 AS Decimal(10, 0)), 0x00, N'sdd3233scdcsdc', N't33hcmd', N'05b8bf95-7a1c-492b-802d-d132fcb7d31a')
INSERT [khachsan].[phong] ([maPhong], [maLoaiPhong], [maKhachSan], [conTrong]) VALUES (N'MAPHONG1_1_1_1      ', N'LOAIPHONG1_1_1      ', N'MAKHACHSAN1_1       ', 0x01)
INSERT [khachsan].[phong] ([maPhong], [maLoaiPhong], [maKhachSan], [conTrong]) VALUES (N'MAPHONG1_1_1_10     ', N'LOAIPHONG1_1_1      ', N'MAKHACHSAN1_1       ', 0x01)
INSERT [khachsan].[phong] ([maPhong], [maLoaiPhong], [maKhachSan], [conTrong]) VALUES (N'MAPHONG1_1_1_11     ', N'LOAIPHONG1_1_1      ', N'MAKHACHSAN1_1       ', 0x01)
GO
/****** Object:  Index [UK_khachtruycap_ssma$rowid]    Script Date: 14/4/2020 10:54:41 AM ******/
ALTER TABLE [khachsan].[khachtruycap] ADD  CONSTRAINT [UK_khachtruycap_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UK_nguoidung_ssma$rowid]    Script Date: 14/4/2020 10:54:41 AM ******/
ALTER TABLE [khachsan].[nguoidung] ADD  CONSTRAINT [UK_nguoidung_ssma$rowid] UNIQUE NONCLUSTERED 
(
	[ssma$rowid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [khachsan].[contents] ADD  DEFAULT (NULL) FOR [SRC]
GO
ALTER TABLE [khachsan].[contents] ADD  DEFAULT (NULL) FOR [CONTENT]
GO
ALTER TABLE [khachsan].[contents] ADD  DEFAULT (NULL) FOR [TAG]
GO
ALTER TABLE [khachsan].[dangnhap] ADD  DEFAULT (getdate()) FOR [thoiGianDangNhap]
GO
ALTER TABLE [khachsan].[items] ADD  DEFAULT (NULL) FOR [TITLE]
GO
ALTER TABLE [khachsan].[items] ADD  DEFAULT (NULL) FOR [VIEW]
GO
ALTER TABLE [khachsan].[items] ADD  DEFAULT (NULL) FOR [DATE]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [thoiGianBatDau]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [thoiGianKetThuc]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [tongChiPhi]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [hinhThuc]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [hoTen_KTC]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [email_KTC]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [SDT_KTC]
GO
ALTER TABLE [khachsan].[khachdatphong] ADD  DEFAULT (NULL) FOR [tinhThanhPho_KTC]
GO
ALTER TABLE [khachsan].[khachhang] ADD  DEFAULT (NULL) FOR [hoTen_KH]
GO
ALTER TABLE [khachsan].[khachhang] ADD  DEFAULT (NULL) FOR [SDT_KH]
GO
ALTER TABLE [khachsan].[khachhang] ADD  DEFAULT (NULL) FOR [tinhThanhPho_KH]
GO
ALTER TABLE [khachsan].[khachtruycap] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [khachsan].[loaiphong] ADD  DEFAULT (NULL) FOR [moTa]
GO
ALTER TABLE [khachsan].[loaiphong] ADD  DEFAULT (NULL) FOR [dienTich]
GO
ALTER TABLE [khachsan].[loaiphong] ADD  DEFAULT (NULL) FOR [phongConLai]
GO
ALTER TABLE [khachsan].[nddatphong] ADD  DEFAULT (getdate()) FOR [ngayDat]
GO
ALTER TABLE [khachsan].[nddatphong] ADD  DEFAULT (NULL) FOR [thoiGianBatDau]
GO
ALTER TABLE [khachsan].[nddatphong] ADD  DEFAULT (NULL) FOR [thoiGianKetThuc]
GO
ALTER TABLE [khachsan].[nddatphong] ADD  DEFAULT (NULL) FOR [tongChiPhi]
GO
ALTER TABLE [khachsan].[nddatphong] ADD  DEFAULT (NULL) FOR [hinhThuc]
GO
ALTER TABLE [khachsan].[nguoidung] ADD  DEFAULT (NULL) FOR [hoTen_ND]
GO
ALTER TABLE [khachsan].[nguoidung] ADD  DEFAULT (NULL) FOR [SDT_ND]
GO
ALTER TABLE [khachsan].[nguoidung] ADD  DEFAULT (0x00) FOR [quyenQuanTri]
GO
ALTER TABLE [khachsan].[nguoidung] ADD  DEFAULT (NULL) FOR [diaChi_ND]
GO
ALTER TABLE [khachsan].[nguoidung] ADD  DEFAULT (NULL) FOR [tinhThanhPho_ND]
GO
ALTER TABLE [khachsan].[nguoidung] ADD  DEFAULT (newid()) FOR [ssma$rowid]
GO
ALTER TABLE [khachsan].[phong] ADD  DEFAULT (0x01) FOR [conTrong]
GO
ALTER TABLE [khachsan].[khachdatphong]  WITH NOCHECK ADD  CONSTRAINT [khachdatphong$FK_khachDatPhong_khachTruyCap] FOREIGN KEY([maTruyCap])
REFERENCES [khachsan].[khachtruycap] ([maTruyCap])
GO
ALTER TABLE [khachsan].[khachdatphong] CHECK CONSTRAINT [khachdatphong$FK_khachDatPhong_khachTruyCap]
GO
ALTER TABLE [khachsan].[khachdatphong]  WITH NOCHECK ADD  CONSTRAINT [khachdatphong$FK_khachDatPhong_phong] FOREIGN KEY([maPhong])
REFERENCES [khachsan].[phong] ([maPhong])
GO
ALTER TABLE [khachsan].[khachdatphong] CHECK CONSTRAINT [khachdatphong$FK_khachDatPhong_phong]
GO
ALTER TABLE [khachsan].[khachsan]  WITH NOCHECK ADD  CONSTRAINT [khachsan$FK_KHACHSAN_FK_KHACHS_KHUVUC] FOREIGN KEY([maKhuVuc])
REFERENCES [khachsan].[khuvuc] ([maKhuVuc])
GO
ALTER TABLE [khachsan].[khachsan] CHECK CONSTRAINT [khachsan$FK_KHACHSAN_FK_KHACHS_KHUVUC]
GO
ALTER TABLE [khachsan].[nddatphong]  WITH NOCHECK ADD  CONSTRAINT [nddatphong$FK_NDDATPHO_NDDATPHON_NGUOIDUN] FOREIGN KEY([maSo_ND])
REFERENCES [khachsan].[nguoidung] ([maSo_ND])
GO
ALTER TABLE [khachsan].[nddatphong] CHECK CONSTRAINT [nddatphong$FK_NDDATPHO_NDDATPHON_NGUOIDUN]
GO
ALTER TABLE [khachsan].[nddatphong]  WITH NOCHECK ADD  CONSTRAINT [nddatphong$FK_NDDATPHO_NDDATPHON_PHONG] FOREIGN KEY([maPhong])
REFERENCES [khachsan].[phong] ([maPhong])
GO
ALTER TABLE [khachsan].[nddatphong] CHECK CONSTRAINT [nddatphong$FK_NDDATPHO_NDDATPHON_PHONG]
GO
ALTER TABLE [khachsan].[phong]  WITH NOCHECK ADD  CONSTRAINT [phong$FK_PHONG_FK_PHONG__KHACHSAN] FOREIGN KEY([maKhachSan])
REFERENCES [khachsan].[khachsan] ([maKhachSan])
GO
ALTER TABLE [khachsan].[phong] CHECK CONSTRAINT [phong$FK_PHONG_FK_PHONG__KHACHSAN]
GO
ALTER TABLE [khachsan].[phong]  WITH NOCHECK ADD  CONSTRAINT [phong$FK_PHONG_FK_PHONG__LOAIPHON] FOREIGN KEY([maLoaiPhong])
REFERENCES [khachsan].[loaiphong] ([maLoaiPhong])
GO
ALTER TABLE [khachsan].[phong] CHECK CONSTRAINT [phong$FK_PHONG_FK_PHONG__LOAIPHON]
GO
/****** Object:  StoredProcedure [khachsan].[INSERT_CONTENT]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*/

CREATE PROCEDURE [khachsan].[INSERT_CONTENT]  
   @p_ID int,
   @p_CONTENT_INDEX int,
   @p_ITEM_INDEX int,
   @p_SRC nvarchar(100),
   @p_CONTENT nvarchar(max),
   @p_TAG nvarchar(10)
AS 
   BEGIN

      SET  XACT_ABORT  ON

      SET  NOCOUNT  ON

      IF 
         CASE 
            WHEN EXISTS 
               (
                  SELECT items.ITEM_INDEX
                  FROM khachsan.items
                  WHERE items.ITEM_INDEX = @p_ITEM_INDEX
               ) THEN 1
            ELSE 0
         END <> 0
         INSERT khachsan.contents(
            khachsan.contents.ID, 
            khachsan.contents.CONTENT_INDEX, 
            khachsan.contents.ITEM_INDEX, 
            khachsan.contents.SRC, 
            khachsan.contents.CONTENT, 
            khachsan.contents.TAG)
            VALUES (
               @p_ID, 
               @p_CONTENT_INDEX, 
               @p_ITEM_INDEX, 
               @p_SRC, 
               @p_CONTENT, 
               @p_TAG)

   END
GO
/****** Object:  StoredProcedure [khachsan].[xoaLichSuDangNhap]    Script Date: 14/4/2020 10:54:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion: DETERMINISTIC.
*/

CREATE PROCEDURE [khachsan].[xoaLichSuDangNhap]  
   @maSo_ND nchar(20)
AS 
   BEGIN

      SET  XACT_ABORT  ON

      SET  NOCOUNT  ON

      DELETE 
      FROM khachsan.dangnhap
      WHERE dangnhap.maSo_ND = @maSo_ND

   END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.INSERT_CONTENT' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'PROCEDURE',@level1name=N'INSERT_CONTENT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.xoaLichSuDangNhap' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'PROCEDURE',@level1name=N'xoaLichSuDangNhap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.contents' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.dangnhap' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'dangnhap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.items' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'items'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.khachdatphong' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'khachdatphong'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.khachhang' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'khachhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.khachsan' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'khachsan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.khachtruycap' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'khachtruycap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.khuvuc' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'khuvuc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.loaiphong' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'loaiphong'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.nddatphong' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'nddatphong'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.nguoidung' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'nguoidung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'khachsan.phong' , @level0type=N'SCHEMA',@level0name=N'khachsan', @level1type=N'TABLE',@level1name=N'phong'
GO
